<div class="container mt-4">
    <h1 class="mb-4">Product characteristics</h1>
    <div class="row">
        <div class="col-md-8">
            <p><strong>Common name:</strong>{{ item.product.product_name }}</p>
            <p><strong>Quantity:</strong> {{ item.product.quantity }}</p>
            <p><strong>Packaging:</strong> {{ item.product.packaging }}</p>
            <p><strong>Brands:</strong> {{ item.product.brands }}</p>
            <p><strong>Categories:</strong> {{ item.product.categories }}</p>
        </div>
        <div class="col-md-4 text-center ">
            <img src="{{item.product.selected_images.front.display.it}}" alt="Barilla Spaghetti" class="img-fluid" width="25%">
        </div>
    </div>
    <p><a href (click)="back()">Back</a></p>
</div>
